{% extends 'main.html' %}

{% block content %}
    <main class="profile-page layout layout--4">
      <div class="container">
        <!-- Home Start -->
        <div class="house">
          <div class="house__top">
            <div>
              <h3>Get to understand more about Blockchain Technology</h3>
            </div>
          </div>
            <div class="house__youtube">
<iframe width="560" height="315" src="https://www.youtube.com/embed/SSo_EIwHSd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
        </div>
        <!-- Home End -->

      </div>
    </main>
{% endblock content %}