<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}

{% block content %}
    <body>
    <main class="layout layout--5">
        <div class="container">
            <!-- Topics Start -->
            {% include 'UniversityProject/crypto_topic.html' %}

            <div class="feed">
                <div class="mobile-menu">
                    <div class="mobile-menuItems">
                        <div class="paginator">
                            <form method="GET">
                                <select class="paginator__button" name="paginate_by" id="">
                                    <option value="3">Show Less</option>
                                    <option value="100">Show All</option>
                                </select>
                                <input class="paginator__button" type="submit" value="Show">
                            </form>
                        </div>
                    </div>
                </div>
                {% for crypto in page_obj %}
                    <div class="crypto__content">
                        <div class="cryptosite">
                            <a href={% url 'cryptocurrency' crypto.id%}>
                                <img src="{{ crypto.image.url}}" />
                                {{ crypto.cryptocurrency }} </a>
                            <h1>{{ crypto.description }}</h1>
                        </div></div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock content %}