<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}

{% block content %}
    <body>
    <main class="layout layout--5">
        <div class="container">
            <!-- Topics Start -->
            {% include 'UniversityProject/crypto_topic.html' %}

            <div class="feed">
                {% for crypto in page_obj %}
                    <div class="crypto__content">
                        <div class="cryptosite">
                            <a href={% url 'cryptocurrency' crypto.id%}>
                                <img src="{{ crypto.image.url}}" />
                                {{ crypto.cryptocurrency }} </a>
                            <h1>{{ crypto.description }}</h1>
                        </div></div>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock content %}