<div class="crypto__text">
<p>What is Bitcoin?</p>
<p>Bitcoin is a new type of digital money and, just like with all money, you can store it, exchange it, and make payments with it. The key to what makes Bitcoin different from national currencies like the US Dollar, the Euro or the Japanese Yen lies in its decentralized structure and opt-in model. What does that mean?
</p>
<p>With centralized 'fiat money' (literally money by decree), currency is issued by central banks, and citizens are forced to use the money of their nation. With the exception of cash (which is becoming increasingly rare), transactions are made through intermediaries like banks and payment gateways.
</p>
<p>Bitcoin, by contrast, is an opt-in currency that is controlled by the 'consensus' or the will of its users. It consists of a growing network of people who voluntarily agree to the rules of the Bitcoin protocol. They use decentralized infrastructure to make transactions on a peer-to-peer basis and to store value independently of any government, company, or financial institution. There's no need to ask for permission to use Bitcoin, and there's no risk of being cut off from the system.
</p>
<p>Importantly, the system itself is headless and distributed globally, making it both resistant to corruption and extremely durable.
</p>
<p>What gives Bitcoin value?</p>
<p>Bitcoin has value for two key reasons:

Thanks to its features, some people find it useful as a way to store and exchange value.
Because a group of people agree it has value.
Historically, people have used everything from seashells to bottle caps as money, but arguably the most enduring form of money is gold. Why?

People settled on gold thanks to its rarity, its durability, and its divisibility. These features made gold useful as a method for storing and exchanging value.

Bitcoin is often compared to gold because it has similar characteristics. Namely:

It has a limited supply. There will only ever be 21 million bitcoins.
It's easily divisible. You can divide one bitcoin into 100 million pieces.
It's durable. A huge globally distributed network of independently operated computers tracks Bitcoin ownership. This ensures that no bitcoin is lost.
Beyond this, Bitcoin has a few other important features which allow it to bring gold's monetary properties to the modern digital era. These are:

It's easy to send bitcoin. Sending any amount of bitcoin to anyone in the world can be done in minutes and with a 100% guarantee of security. It's almost like sending an encrypted email.
It's easy to verify the authenticity of bitcoin. Actually, it's effectively impossible to transact with fake bitcoin.
Thanks to the utility of gold, the gold 'network' - to use a modern term - grew over time until gold became almost universally accepted as having value. Although Bitcoin, which started in 2009, is much newer than gold, Bitcoin's network efforts benefit from the scale and speed of the modern Internet. The number of people who place value in Bitcoin has grown at an exponential pace since inception to the point that Bitcoin's value is now closing in on gold's - and that may be just the beginning.

Read more: Understand the most important details of the Bitcoin protocol.

How do I create a Bitcoin wallet?
A Bitcoin wallet is a tool for interacting with the Bitcoin network. Use it to buy, sell, send, receive, and trade bitcoin. Making a Bitcoin wallet is as easy as downloading an app.

Read more: Understand the ins & outs of creating a Bitcoin wallet with this comprehensive guide.

How to buy and sell bitcoin?
Apps like the Bitcoin.com Wallet.
Websites like Buy Bitcoin.
Exchanges like the Bitcoin.com Exchange.
Peer-to-peer services like Bitcoin.com Local (BCH only).
How to send bitcoin?
Sending bitcoin is as easy as choosing the amount and deciding where it goes.

Read more: Check out our complete guide to safely and securely sending bitcoin.

How to receive bitcoin?
Receiving bitcoin is a simple matter of providing the sender with your Bitcoin address.

Read more: Learn how to receive bitcoin securely.

How does a bitcoin exchange work?
Bitcoin exchange is the process of trading bitcoin for local currencies, goods or services, or other cryptocurrencies. Your options range from peer-to-peer exchange to giant centralized exchange services that resemble a stock trading account.

Read more: Learn the ins and outs of bitcoin trading.

Bitcoin debit cards
Bitcoin debit cards are a convenient way to spend your bitcoin.

Read more: Find out about the different types of Bitcoin debit cards and how they work.

What are the tax implications of using Bitcoin?
Whether you're investing in Bitcoin, getting paid in bitcoin, or just using bitcoin to pay for goods and services, you need to be aware of the relevant tax laws in your country. In some regions, you may be exempt from taxation altogether. In others, onerous tax laws require you to track every transaction.

Luckily there's a growing variety of tools that help you comply with the tax laws in your country. We recommend TokenTax, which is a crypto tax software platform and crypto tax calculator that vastly simplifies the process. It helps you connect to exchanges, track your trades, and automatically generate crypto tax reports regardless of your country of residence.

Read more: How is Bitcoin taxed?

What is Bitcoin mining?
Bitcoin mining, which is the process of 'minting' (creating) new bitcoins, is an essential component of the network's system for arriving at consensus (agreeing to the 'truth') without relying on a centralized authority. Mining is also critical for ensuring the security of the network.

Read more: Find out how Bitcoin mining works and why it's needed.

What's a non-custodial Bitcoin wallet?
Bitcoin wallets can be divided into two categories:

Custodial. This means the wallet provider has access to your bitcoin.
Non-custodial. This means the wallet provider doesn't have access to your bitcoin.
Whether the wallet provider has access to your bitcoin or not has a number of important implications. We recommend you always keep your digital assets in a non-custodial wallet like the Bitcoin.com Wallet.

Read more: Understand the pros and cons of custodial vs. non-custodial Bitcoin wallets.

How does Bitcoin governance work?
Bitcoin is not a static protocol; it can and does evolve over time as needed and in response to its environment. The process for making improvements to Bitcoin, which is known as 'Bitcoin governance,' includes both formalized procedures and a form of decision making, known as 'rough consensus,' that derives from open-source software development cultures.

However, it's important to keep in mind that Bitcoin is a headless organization. It is 'owned' - if we can use the term - by the sum total of all its users. What Bitcoin is and how it evolves, then, is an open question, the answer to which is ultimately determined by a wide array of voices, from miners and nodes, to exchanges, wallet providers, and - most importantly - the people who hold and use bitcoin.

    Read more: Understand Bitcoin's formalized governance process.
</p>
    </div>
